/* Footer */

.footer{
    background-color: $background-color;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-wrap{
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 250px;
}


.logo.footer > span{
    color: $primary-white-color;
}

.logo.footer{
    padding: 0;
}

.adress{
    color: $primary-white-color;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 9px;
}

.footer-link{
    color: #FFFFFF99;
font-size: 14px;
line-height: 1.71px;
letter-spacing: 0.03em;
text-decoration: none;
font-style: normal;
margin-bottom: 9px;

  &:hover, &:focus{
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

}



/* Footer socials */

.footer-socials-title{
    color: $primary-white-color;
    text-transform: uppercase;;
font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.03em;
}

.footer-socials{
display: inline-flex;
flex-direction: column;
margin-left: 70px;
   
}

.social-footer{
    display: flex;
    justify-content: space-around;
}

.social-footer-link{
    background-color: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

    &:hover, &:focus{
        background-color: $accent-color;
        background-size: inherit;
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.social-footer-item:last-child{
    margin-right: 53px;
}

.icon-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    fill: $primary-white-color;
}

/* Subscribe */

.footer-subscribe{
    display: inline-flex;
    flex-direction: column;
}


.footer-subscribe-wrap .email{
    color: $background-button;
}

.footer-subscribe .email{
   
    margin-right: 7px;
    width: 358px;
    height: 50px;
    background-color: $background-color;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding-left: 16px;
}

.footer-subscribe-btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    width: 200px;
    height: 50px;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    font-size: 16px;
  
    font-weight: 700;
    line-height: 1.88;
    color: $primary-white-color;

}

.icon-subscribe{
    margin-left: 10px;
    
}

